.header {
  width: 100%;
  position: fixed;
  inset: 0;
  height: max-content;
  background: transparent;
  z-index: 999;
}

.header-social {
  color: #ff8278;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  cursor: pointer;
}

.header-social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ff8378;
}

.header-social-icon:hover {
  background-color: #ff8278 !important;
  border-color: #ff8278 !important;
  color: #ffffff !important;
}
